<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Código de Localização Único
    </ion-title>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar Endereço" [(ngModel)]="address" (ionInput)="searchLocation()"></ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>
  <div class="ion-padding">Clique no local para obter o código único (Plus Code)</div>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Código de Localização</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div #map id="map"></div>
  <div id="code-display">
    Click on the map to get the plus code
    <br/> (You can zoom, drag and pan)
  </div> -->
  <div id="map-container">
    <!-- Ensure to set a fixed height for the map container to make it visible -->
    <div id="map" style="height: 85vh"></div>
  </div>
</ion-content>